body {
    background-color: rgb(158, 228, 137);
    color: rgb(147, 223, 97);
  }
  
  .navbar {
    border-bottom: #eef06d 3px solid;
    opacity: .7;
  }
  
  #home-section {
    background: url('bg.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .dark-overlay {
    background-color: rgba(109, 240, 49, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
  
  .home-inner {
    padding-top: 200px;
  }
  @media (max-width: 992px) {
    .home-inner {
      padding-top: 150px;
    }
  }